<section>
<div class="home-image-div">
 <h1 class="text-center home-text">LGBTQ Allies</h1>
 <h3 class="text-center home-text">Community Friendly<br>Businesses &amp; Resources</h3>
</div>
</section>
<section>
<div class="container">
	<div class="row about hoverable">
		<h3 class="text-center">About Us</h3>
		<h5 class="text-justify">We are a community of allies. Eu ut aliqua occaecat cillum duis est ut ad nisi amet enim labore do commodo ad do cupidatat consectetur eu sit.</h5>
	</div>
		<div class="row people">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img class="img-circle img-fluid " src="/assets/becca&shasta-engagement.jpg" alt="becca and shasta engagement">
				<h5 class="testimonials">Proident tempor excepteur proident ea labore magna in qui dolore magna laborum dolore aliqua consectetur.</h5>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img class="img-circle img-fluid " src="/assets/baker.png" alt="baker">
				<h5 class="testimonials">Proident tempor excepteur proident ea labore magna in qui dolore magna laborum dolore aliqua consectetur.</h5>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<img class="img-circle img-fluid " src="/assets/guys.png" alt="john and jason">
				<h5 class="testimonials">Proident tempor excepteur proident ea labore magna in qui dolore magna laborum dolore aliqua consectetur.</h5>
			</div>
		</div>
</div>
</section>
