<section>
<div class="home-image-div">
 <h1 class="text-center home-text">LGBTQ Allies</h1>
 <h3 class="text-center home-text">Community Friendly<br>Businesses &amp; Resources</h3>
</div>
</section>
<section>
<div class="container">
	<div class="row about hoverable">
		<h3 class="text-center">About Us</h3>
		<h5 class="text-justify">We are LGBTQ allies. We promote safe zones for the LGBTQ community.  We are business partners, resources, networks and community organizations that stand up for acceptance and inclusion. We are a movement to advance LGBTQ equality by building bridges and understanding, opening our doors to our brothers, sisters, friends and family alike.</h5>
	</div>
		<div class="row people text-center">
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img class="img-circle img-fluid" src="/assets/becca&shasta-engagement.jpg" alt="becca and shasta engagement">
				<h5 class="testimonials">I am Danny and this is wife husband Stephanie. We were unsure who to turn to when it came to planning our wedding. We wanted to compare LGBTQ wedding planning services but sometimes this information is not readily available or posted on local businesses websites. Utilizing LGBTQ Allies saved us time and gave us peace of mind knowing that we could just be ourselves and that Capitol Hill Bakery would love us just as much as we loved the cake!</h5>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img class="img-circle img-fluid " src="/assets/baker.png" alt="baker">
				<h5 class="testimonials">My name is Janessa Harris and I own Josephine’s Bakery on 15th Avenue. I wanted a way of letting my LGBTQ friends and family members know that my bakery is a safe zone and anyone is welcome here no matter their orientation, religious affiliation or background. By registering my business on LGBTQ Allies it not only improved my business but also allowed me to show my support for a community that I support.</h5>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<img class="img-circle img-fluid " src="/assets/justin&amir.jpg" alt="john and jason">
				<h5 class="testimonials">I am Justin and this is my husband Amir. We were searching for childcare for our son Brantley but we wanted to find a place that was open-minded about our family dynamic. We were able to search for an array of qualified childcare providers that also promoted equality and diverse family dynamics. When we found Kids-Circle, we felt welcomed immediately. They fell in love with our son and treated us just like family.</h5>
			</div>
		</div>
</div>
</section>
