<h1 class="text-center">Resource Listing</h1>

<!-- Google Maps -->
<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<h3 class="text-center">Resources you can use</h3>
<div class="container">
	<% @resources.each do |r| %>
		<div class="alert alert-success">
<a href="/resources/<%= r.id %>">
			<%= r.name %>
</a>
		</div>
	<% end %>
</div>
