<h1 class="text-center">Resource Listing</h1>

<!-- Google Maps -->
<div class="container">
  <div id="multi_markers"></div>
</div>

<h3 class="text-center">Resources you can use</h3>
<div class="container">
	<% @resources.each do |r| %>
		<div class="alert alert-success">
			<a href="/resources/<%= r.id %>">
						<%= r.name %>
			</a>
		</div>
	<% end %>
</div>
<script>
	// console.log('Inside index script');
	var places = "<%= @places %>";
	places = places.replace(/&quot;/g, '"');
	// console.log(places);
</script>

<!-- Moved this logic to the index page to prevent execution on all pages in main.js -->
<script async defer>
$(document).ready(function() {
	    //Google Maps with many markers
    // console.log(JSON.parse(places));
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'multi_markers' } }, function() {
        var markers = handler.addMarkers(JSON.parse(places));
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
  });
</script>
