<h1 class="text-center">Resource Listing</h1>

<div class="container">
	<% @resources.each do |r| %>
		<div class="alert alert-success">
<a href="/resources/<%= r.id %>">
			<%= r.name %>
</a>
		</div>
	<% end %>
</div>
