<h1 class="text-center">Category Listing</h1>

<div class="container">
	<% @categories.each do |c| %>
		<div class="alert alert-info">
<a href="/categories/<%= c.id %>">
			<%= c.name %>
</a>
		</div>
	<% end %>
</div>
