<!DOCTYPE html>
<html>
  <head>
    <title>Lgbtq Allies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  	<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">LGBTQ Allies</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/resources">View Resources</a>
				</li>
				<li>
					<a href="/categories">View Categories</a>
				</li>
				<li>
					<a href="/resources/new">Add New Resource</a>
				</li>
				<li>
					<a href="/categories/new">Add New Category</a>
				</li>
			</ul>
  	</div>
  </nav>
    <%= yield %>
  </body>
</html>
